@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
 <title>Responses</title>
</head>
<body>
 <div class="m-1 p-1">
 <h2>Here is the list of people attending the party</h2>
 <table class="table table-sm table-striped table-bordered">
 <thead>
 <tr><th>Name</th><th>Email</th><th>Phone</th></tr>
 </thead>
 <tbody>
 @foreach (PartyInvites.Models.GuestResponse r in Model) {
 <tr><td>@r.Name</td><td>@r.Email</td><td>@r.Phone</td></tr>
 }
 </tbody>
 </table>
 </div>
</body>
</html>