@{
    Layout = null;
}

<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>Index</title>
 <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body class="p-2">
 <div class="text-center">
 <h3>We're going to have an exciting party!</h3>
 <h4>And you are invited</h4>
 <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
 </div>
</body>
</html>


