@model PartyInvites.Models.GuestResponse
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width" />
 <title>RsvpForm</title>
 <link rel="stylesheet" href="\lib\bootstrap\css\bootstrap.min.css" />
</head>
<body>
 <div class="m-2">
 <div class="text-center"><h4>RSVP</h4></div>
 <form class="p-1" asp-action="RsvpForm" method="post">
 <div asp-validation-summary="All"></div>
 <div class="form-group">
 <label asp-for="Name">Your name:</label>
 <input class="form-control" asp-for="Name" />
 </div>
 <div class="form-group">
 <label asp-for="Email">Your email:</label>
 <input class="form-control" asp-for="Email" />
 </div>
 <div class="form-group">
 <label asp-for="Phone">Your phone:</label>
 <input class="form-control" asp-for="Phone" />
 </div>
 <div class="form-group">
 <label>Will you attend?</label>
 <select class="form-control" asp-for="WillAttend">
 <option value="">Choose an option</option>
 <option value="true">Yes, I'll be there</option>
 <option value="false">No, I can't come</option>
 </select>
 </div>
 <div class="text-center">
 <button class="btn btn-primary" type="submit">
 Submit RSVP
 </button>
 </div>
 </form>
 </div>
</body>
</html>